{
  "env": {
    "node": true,
    "mocha": true,
  },
  "extends": "airbnb-base",
  "globals": {},
  "plugins": ["jsdoc", "json"],
  "rules": {
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "functions": "never", # Node 6 doesn't like `(function(a,\n){ })(b,);`
    }],
    "id-length": ["error", {"min": 2, "properties": "never", "exceptions": ["_", "i", "j"]}],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "indent": ["error", 2, {"SwitchCase": 1}],
    "jsdoc/check-param-names": "error",
    "jsdoc/check-tag-names": "error",
    "jsdoc/check-types": "error",
    "jsdoc/newline-after-description": "error",
    "jsdoc/require-description-complete-sentence": "error",
    "jsdoc/require-hyphen-before-param-description": "error",
    "jsdoc/require-param": "error",
    "jsdoc/require-param-description": "error",
    "jsdoc/require-param-type": "error",
    "jsdoc/require-returns-description": "error",
    "jsdoc/require-returns-type": "error",
    "max-len": ["error", 120],
    "no-shadow": ["error", { "allow": ["cb", "err", "done", "resolve", "reject"] }],
  },
}
